<div class="container">
    <p>
        Demo links
    </p>
    <ol>
        <li>
            <a asp-controller="Demo" asp-action="Controllers">Controllers</a>
        </li>

        <li>
            <a asp-controller="Demo" asp-action="UserCreatedEvents">Handling user created events</a>
        </li>

        <li>
            <a asp-controller="Demo" asp-action="Watches">Scope watches</a>
        </li>
    
        <li>
            <a asp-controller="Demo" asp-action="ScopeApply">Scope apply</a>
        </li>

        <li>
            <a asp-controller="Demo" asp-action="Services">Services</a>
        </li>
    </ol>
</div>