<div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Add Expense</h3>
        </div>
        <div class="panel-body">
            <form name="addExpense" class="form-horizontal" novalidate>
                <fieldset>
                    <div class="form-group" ng-class="{'has-error': !addExpense.expenseAmount.$valid && !addExpense.expenseAmount.$pristine}">
                        <div class="col-lg-12">
                            <input type="number" class="form-control" id="expenseAmount" name="expenseAmount" ng-model="addExpenseVM.amount" placeholder="Amount..." required>
                        </div>
                    </div>
                    <h4>
                        Notes
                    </h4>
                    <div class="form-group">
                        <div class="col-lg-12">
                            <textarea class="form-control" rows="3" id="textArea" ng-model="addExpenseVM.notes" placeholder="Notes..."></textarea>
                        </div>
                    </div>

                    <expense-category-chooser categories="addExpenseVM.categories" selected-category="addExpenseVM.selectedCategory"></expense-category-chooser>

                    <div class="form-group">
                        <div class="col-lg-12">
                            <button type="button" class="btn btn-default" ng-click="addExpenseVM.clearInput()">Clear</button>
                            <button type="button" class="btn btn-primary" ng-click="addExpenseVM.addExpense()">Add expense</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

</div>
<div ui-view=""></div>