<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - AngularJsTrainingAsp5</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AngularJsTrainingAsp5</title>

    <link type="text/css" href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link type="text/css" href="~/css/custom.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/lib/moment/min/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="~/lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="~/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    
    @RenderSection("scripts", required: false)
</body>
</html>
